{{!< default}}

{{#match @site.recommendations_enabled}}
  <div class="container wrapper">
    {{!-- Hero --}}
    <div class="post-hero is-page side" data-feature-image="false">
      <div class="post-hero__content flex flex-col">
        <h1 class="post-hero__title text-center m-b">{{t "Recommendations"}}</h1>
      </div>
    </div>

    <div class="content-width flex flex-col">
      {{recommendations}}
      <button data-portal="recommendations" class="btn btn--wide btn--bordered flex flex-cc self-align-center m-b-xl">
        <span class="mr-sm">{{t "Show all recommendations"}}</span>
        {{> icon name="arrow-right" size="sm"}}
      </button>
    </div>
  </div>
{{/match}}
